# macOS
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/
android/app/build/
android/.cxx/
android/.gradle/
android/app/.cxx/
android/app/.externalNativeBuild/
android/app/.idea/

# React Native
node_modules/
npm-debug.log
yarn-error.log
metro.config.js
*.pack

# Fastlane (for automated app deployments)
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# Bundle artifact
*.jsbundle

# CocoaPods (iOS dependency manager)
ios/Pods/
ios/vendor/bundle/

# Metro health check (React Native)
.metro-health-check*

# Testing
coverage/

# Yarn (if using)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
